@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Black.ttf);
}

:root{
    --color_blue: rgb(0, 175, 233);
    --color-gray: #e3e9ec;
}

*{
    font-family: Roboto;
}
body{
    background-color: var(--color-gray);
}
.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 4fr);
    grid-template-rows: repeat(1, 231px) repeat(1, 1fr);
    width: 99vw;
    height: 100vh;
}


/* SIDEBAR */

.side-bar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: repeat(1, 1fr) repeat(1, 3fr) repeat(1, 3fr);
    gap: 25px;
    color: white;
    background-color: var(--color_blue)
}

.box-1{
    display: flex;
    align-items: center;
}
.box-1 p{
    font-size: 40px;
    display: grid;
    align-content: center;
}

.box-2 p, .box-3 p{
    font-size: 30px;
}
.side-bar [alt="logo"]{
    width: 60px;
    height: 60px;
}
.side-bar [alt="icon"]{
    width: 30px;
    height: 30px;
}
.side-bar img{
   margin: 0 25px;
}

/* HEADER */
.header{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: white;
    box-shadow: 3px 3px 7px #b9b9b9;
    padding-bottom: 15px;
}

.row-1{
    display: grid;
    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);

}

[for="search-bar"] > [alt="icon"]{
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-left: 110px;
}

[src="icons/bell.svg"]{
    width: 30px;
    height: 30px;
    
}

.search{
    display: grid;
    align-content: center;
    grid-template-columns: repeat(1, 1fr) repeat(1, 5fr);
}

.profile-information{
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(1, 2fr);
    align-items: center;
    
}
.profile-information img{
    margin-left: 60px;
}

.profile-information p{
    font-size: 25px;
}


#search-bar{
    width: 85%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--color-gray);
    border: none;
}

.circle-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid;
    overflow: hidden; 
    background-image: url(pictures/nft-1.jpeg); 
    background-size: cover;
    background-position: center center;
  }

.row-2{
    display: grid;
    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
}

.profile-information-2{
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 4fr);
    align-items: center;
}
.profile-information-2 .circle-image{
    width: 100px;
    height: 100px;
    margin-left: 60px;
}

#hi{
    font-size: 18px;
    margin: 10px 0px;
}
#hi + p{
    margin-top: 0px;
    font-size: 27px; 
}
.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.buttons button{
    height: 60px;
    width: 140px;
    background-color: var(--color_blue);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 25px;
}

/* MAIN CONTENT */

.main-content{
    display: grid;
    grid-template-columns: repeat(2, 550px) repeat(1, 1fr);
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 20px 30px;
}

.column-1{
    grid-column-start: 1;
    grid-column-end: 3;
    
}
.column-1 > p{
    font-size: 27px;
}
.your-projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}
.project{
    background-color: white;
    border-left: 10px solid #f8aa00;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #b9b9b9;
}
.project p{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
.column-2{
    
}


.icons-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 50px;
}
.icons{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.icons img{
    width: 30px;
    height: 30px;
}